---
	import '../styling/styles.scss';
	import Header from '../components/Header.astro';
	import Refinery from '../components/Refinery.astro';
	import Processing from '../components/Processing.astro';
	import Shipping from '../components/Shipping.astro';
	import RD from '../components/R&D.astro';
	import Settings from '../components/Settings.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="images/pressure.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Under Pressure</title>
	</head>
	<body>
		<div id="gameHolder">
			<div id="notificationHolder"></div>
			<Header/>
			<div id="navBar" class="flexRowWrap"></div>
			<div id="mainContentHolder">
				<Refinery/>
				<Processing/>
				<Shipping/>
				<RD/>
				<div id="achievementsTab" class="tabContent flexCol">
					<h1>Achievements</h1>
					<div id="achievementsHolder" class="flexRow">
					</div>
					<p id="achievementHoverText"></p>
					<p id="achievementCompletionText"></p>
				</div>
				<Settings/>
			</div>
		</div>
		<div id="scriptsHolder">
			<script src="scripts/internal/BreakEternity.js" is:inline></script>
			<script src="scripts/internal/cache.js" is:inline></script>
			<script src="scripts/internal/formatting.js" is:inline></script>
			<script src="scripts/internal/modalmanager.js" is:inline></script>
			<script src="scripts/internal/utilities.js" is:inline></script>
			<script src="scripts/internal/notifications.js" is:inline></script>

			<script src="scripts/data.js" is:inline></script>
			<script src="scripts/main.js" is:inline></script>
			<script src="scripts/refinery.js" is:inline></script>
			<script src="scripts/shipping.js" is:inline></script>
			<script src="scripts/collapse.js" is:inline></script>
			<script src="scripts/processing.js" is:inline></script>
			<script src="scripts/achievements.js" is:inline></script>
		</div>
	</body>
</html>

<style is:inline>
@font-face {
    font-family: 'Neon';
    src: url('fonts/MonaspaceNeon-Medium.otf');
}

@font-face {
    font-family: 'Neon Bold';
    src: url('fonts/MonaspaceNeon-Bold.otf');
}
</style>
