---

---

<div id="resourceHeader" class="flexRowWrap">
    <div id="pressureInfoHolder" class="flexRowWrap infoHolder">
        <img src="images/pressure.png" alt="pressureIcon">
        <p id="pressureInfoText">Refinery Pressure: 0.00 mmHg</p>
    </div>
    <div id="heatInfoHolder" class="flexRowWrap infoHolder">
        <img src="images/heat.png" alt="heatIcon">
        <p id="heatInfoText">Refinery Temperature: 0.00°K</p>
    </div>
    <div id="capacityInfoHolder" class="flexRowWrap infoHolder">
        <img src="images/volume.png" alt="volumeIcon">
        <p id="capacityInfoText">Refinery Volume: 0.00 m<sup>3</sup></p>
    </div>
    <div id="moneyInfoHolder" class="flexRowWrap infoHolder">
        <img src="images/money.png" alt="moneyIcon">
        <p id="moneyInfoText">Funds: $0.00</p>
    </div>
    <div id="ceramicInfoHolder" class="flexRowWrap infoHolder">
        <img src="images/ceramic.png" alt="cermaicIcon">
        <p id="ceramicInfoText">Cermaic: 0.00</p>
    </div>
</div>