---

---

<div id="resourceHeader" class="flexRow">
    <div id="pressureInfoHolder" class="flexRow infoHolder">
        <img src="images/pressure.png" alt="pressureIcon">
        <p id="pressureInfoText">Refinery Pressure: 0.00/0.00 psi [0.00%]</p>
    </div>
    <div id="heatInfoHolder" class="flexRow infoHolder">
        <img src="images/heat.png" alt="heatIcon">
        <p id="heatInfoText">Refinery Temperature: 0.00/0.00°F [0.00%]</p>
    </div>
    <div id="volumeInfoHolder" class="flexRow infoHolder">
        <img src="images/volume.png" alt="volumeIcon">
        <p id="volumeInfoText">Refinery Volume: 0.00 Gallons</p>
    </div>
</div>