---

---

<div id="processingTab" class="flexCol tabContent">
    <h1>Chemical Processing</h1>
    <div class="flexRow">
        <div class="flexCol importantColumn">
            <h3>Cracking</h3>
            <div id="crackingHolder0" class="flexRow infoHolder">
                <img src="images/cracking0.png">
                <button id="crackingButton0">Crack Residual Gas into Naptha</button>
            </div>
        </div>
        <div class="flexCol importantColumn">
            <h3>Production</h3>
            <div id="productionHolder0" class="flexRow infoHolder">
                <img src="images/asphalt.png">
                <button id="productionButton0">Combine Coke & Naptha into Asphalt</button>
            </div>
            <div id="productionHolder1" class="flexRow infoHolder">
                <img src="images/plastic.png">
                <button id="productionButton1">Turn Naptha into plastic</button>
            </div>
        </div>
    </div>
    <button id="productionAmountButton"></button>
</div>