---

---

<div id="research&developmentTab" class="flexCol tabContent">
    <h1 class="purpleText">Research & Development</h1>
    <div class="flexRow">
        <div id="regularUpgradesHolder" class="flexCol importantColumn">
            <h3>Regular Upgrades</h3>
        </div>
        <div id="collapseUpgradesHolder" class="flexCol importantColumn">
            <h3>Collapse Upgrades</h3>
        </div>
    </div>
</div>