---

---

<div id="refineryTab" class="flexCol tabContent">
    <h1>Refinery</h1>
    <div class="flexRow">
        <div class="flexCol" id="distillationColumnInfoHolder">
            <h3>Basic Distillation Column</h3>
            <p id="distColumnInfoText">
                
            </p>
        </div>
        <div class="flexCol" id="columnProdInfoHolder">
            <h3>Column Production</h3>
            <p id="distColumnProductionText">

            </p>
        </div>
    </div>
</div>