---

---

<div id="refineryTab" class="flexCol tabContent">
    <h1>Refinery</h1>
    <div class="flexRow">
        <img id="distColImg" class="largeImg" src="images/distCol0.png">
        <div class="flexCol" id="distillationColumnInfoHolder">
            <h3>Basic Distillation Column</h3>
            <p id="distColumnInfoText">
                
            </p>
        </div>
        <div class="flexCol" id="columnProdInfoHolder">
            <h3>Column Controls & Production</h3>
            <button>Heat Distillation Column [OFF]</button>
            <button>Crude Oil Feed [OFF]</button>
            <button>Vent Column Pressure [OFF]</button>
            <p id="distColumnProductionText">

            </p>
        </div>
    </div>
</div>