---

---

<div id="refineryTab" class="flexCol tabContent">
    <h1>Refinery</h1>
    <div class="flexRowWrap">
        <img id="distColImg" class="largeImg" src="images/distCol0.png" alt="distillation column icon">
        <div class="flexCol importantColumn" id="distillationColumnInfoHolder">
            <h3 id="distColTitle">Basic Distillation Column</h3>
            <p id="distColumnInfoText">
                
            </p>
            <p id="distColumnWarningText"></p>
        </div>
        <div class="flexCol importantColumn" id="columnProdInfoHolder">
            <h3>Column Controls & Production</h3>
            <button id="refineryToggle0">Heat Distillation Column [OFF]</button>
            <button id="refineryToggle1">Crude Oil Feed [OFF]</button>
            <div id="smartHeaterHolder">
                <button id="autoTog0">Smart Heater [OFF]</button>
                <div class="flexRowWrap">
                    <label for="valueInput">Target Value:</label>
                    <input id="valueInput" type="number">
                </div>
                <p>Default Value: 700K</p>
            </div>
            <p id="distColumnProductionText">

            </p>
        </div>
    </div>
    <button id="helpButton0" class="helpButton">?</button>
</div>