<div id="settingsTab" class="tabContent">
    <h1>Settings</h1>
    <div class="flexRow settingsRow">
        <button id="saveButton" class="greenButton">Save Game</button>
        <button id="exportButton">Export Save to Text File</button>
        <button id="importButton">Import Save</button>
        <button id="deleteButton" class="redButton">Delete Save (Exports)</button>
    </div>
    <div class="flexRow settingsRow">
        <button id="setTog0"></button>
    </div>
    <div class="flexRow settingsRow">
        <a class="purpleText" href="https://discord.gg/Usw4zSdW5f">Official Discord</a>
        <a href="https://github.com/MrBacon470/Under-Pressure">Official Github Repo</a>
    </div>
    <p id="currentVersionText"></p>
    <div class="flexCol">
        <h1>Changelog :O</h1>
        <h3>v1.0.0 - <span class="blueText">Major Update</span> - (1/12/2024)</h3>
        <p>Initial Release to the public and submission to the New Years Incremental Game Jam</p>
        <h3>v0.0.0 - <span class="orangeText">Beta & Development Versions</span> - (1/6/2024-1/9/2024)</h3>
        <p>Added the Original Content to this game and project pre-release</p>
    </div>
</div>