<div id="settingsTab" class="tabContent">
    <h1>Settings</h1>
    <div class="flexRow settingsRow">
        <button id="saveButton" class="greenButton">Save Game</button>
        <button id="exportButton">Export Save to Text File</button>
        <button id="importButton">Import Save</button>
        <button id="deleteButton" class="redButton">Delete Save (Exports)</button>
    </div>
    <p id="currentVersionText"></p>
</div>