---

---

<div id="shippingTab" class="flexCol tabContent">
    <h1>Shipping</h1>
    <div class="flexRow">
        <div id="rawProductsInfoHolder" class="flexCol importantColumn">
            <h3>Raw Products</h3>
            <div id="napthaHolder" class="flexRow infoHolder">
                <img src="images/naptha.png" alt="Naptha Icon">
                <p id="napthaInfoText">Naptha: 0.00 L</p>
                <button id="napthaSellButton">Sell Naptha: +$0.00</button>
            </div>
            <div id="fuelOilHolder" class="flexRow infoHolder">
                <img src="images/fuelOil.png" alt="Fuel Oil Icon">
                <p id="fuelOilInfoText">Fuel Oil: 0.00 L</p>
                <button id="fuelOilSellButton">Sell Fuel Oil: +$0.00</button>
            </div>
            <div id="mineralOilHolder" class="flexRow infoHolder">
                <img src="images/mineralOil.png" alt="Mineral Oil Icon">
                <p id="mineralOilInfoText">Mineral Oil: 0.00 L</p>
                <button id="mineralOilSellButton">Sell Mineral Oil: +$0.00</button>
            </div>
            <div id="cokeHolder" class="flexRow infoHolder">
                <img src="images/coke.png" alt="Coke Icon">
                <p id="cokeInfoText">Coke: 0.00 kg</p>
                <button id="cokeSellButton">Sell Coke: +$0.00</button>
            </div>
            <div id="residualGasHolder" class="flexRow infoHolder">
                <img src="images/residual-gas.png" alt="Residual Gas Icon">
                <p id="residualGasInfoText">Residual Gas: 0.00 L</p>
                <button id="residualGasSellButton">Sell Residual Gas: +$0.00</button>
            </div>
        </div>
        <div class="flexCol importantColumn">
            <h3>Refined Products</h3>
            <div id="asphaltHolder" class="flexRow infoHolder">
                <img src="images/asphalt.png" alt="Asphalt Icon">
                <p id="asphaltInfoText"></p>
                <button id="asphaltSellButton"></button>
            </div>
            <div id="plasticHolder" class="flexRow infoHolder">
                <img src="images/plastic.png" alt="Plastic Icon">
                <p id="plasticInfoText"></p>
                <button id="plasticSellButton"></button>
            </div>
        </div>
    </div>
    <button id="resourceSellAmountButton">Sell Amount: 10%</button>
    <p id="resourceSellModifierText">Current Raw Resource Value Increase: +10.00%</p>
    <button id="helpButton2" class="helpButton">?</button>
</div>